doctype html
html(ng-app='mmpgViewer')
  head
    meta(charset='utf-8')
    title MMPG Example
    link(rel='stylesheet', type='text/css', href=revs('css/vendor.css'))
    link(rel='stylesheet', type='text/css', href=revs('css/style.css'))
    script(src=revs('js/vendor.js') defer)
    script(src=revs('js/client.js') defer)
    script(src=revs('js/app.js') defer)
  body
    #toolbar(layout='row' layout-align='end center')
      md-button.md-raised.md-primary(login) Login
    #gameStatus.msg-center
    .overlay(layout='row' layout-align='start end')
      debug
      div(flex)
      game-time
