doctype html
html(ng-app='mmpgViewer')
  head
    meta(charset='utf-8')
    title Space Wars
    link(rel='stylesheet', type='text/css', href=revs('css/vendor.css'))
    link(rel='stylesheet', type='text/css', href=revs('css/style.css'))
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src=revs('js/vendor.js') defer)
    script(src=revs('js/client.js') defer)
    script(src=revs('js/app.js') defer)
  
  body
    game-menu
        
    #gameStatus.msg-center
    
    game-viewer
    
    .overlay(layout='row' layout-align='start end')
      debug
      div(flex)
      game-time
